Repository josteph/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix, prettier --config .prettierrc --write

fix: version
  .github/workflows/ci.yaml
Due: none

ci: use yarn
  .github/workflows/ci.yaml
Due: none

chore: add depcruise & move to src folder (#22)
  .dependency-cruiser.js
  .github/workflows/ci.yaml
  .lintstagedrc
  @types/next.d.ts
  package.json
  src/components/Header/index.tsx
  src/components/Layout/index.tsx
  src/constants/index.ts
  src/docs/esbuild-exploration.md
  src/docs/swc-exploration.md
  src/lib/docs.ts
  src/lib/logger.ts
  src/lib/markdown.ts
  src/lib/splitbee.ts
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
  src/styles/blog.page.module.scss
  src/styles/globals.scss
  src/styles/home.page.module.scss
  tools/jest/resolvers/react.js
  tsconfig.json
  types/modules.d.ts
  webpack.depcruise.js
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix, prettier --config .prettierrc --write

fix: add minHeight for giscus iframe
  src/styles/globals.scss
Due: none

fix: pwa next12 issue
  next.config.js
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix

chore: remove target & assetPrefix from next config
  next-env.d.ts
  next.config.js
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix

feat: add info about chrome extension dev
  src/pages/index.tsx
Due: prettier --write, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix

feat: upgrade to next 13
  .lintstagedrc
  .lintstagedrc.yml
  next.config.js
  package.json
  src/docs/esbuild-exploration.md
  src/docs/swc-exploration.md
  src/pages/blog/[slug].tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix, prettier --config .prettierrc --write

chore: remove babel and unsupported next config
  .gitignore
  babel.config.js
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, prettier --config .prettierrc --write

fix: dont replicate anchor for next/link
  src/pages/index.tsx
Due: prettier --write, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix

fix: update meta website
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
Due: prettier --write, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix

feat: upgrade to next 13 (#27)
  .gitignore
  .lintstagedrc
  .lintstagedrc.yml
  babel.config.js
  next.config.js
  package.json
  src/docs/esbuild-exploration.md
  src/docs/swc-exploration.md
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix, prettier --config .prettierrc --write

chore: remove unused dependencies
  install.sh
  package.json
  scripts/svg-minifier/index.js
  scripts/svg-minifier/minifier.js
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, prettier --config .prettierrc --write

chore: remove unused build command and upgrade eslint
  .eslintrc.js
  package.json
  scripts/deploy.js
  scripts/utils/verboseExec.js
  src/components/Header/index.tsx
  src/components/Layout/index.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix, prettier --config .prettierrc --write

fix: add back start command
  package.json
Due: prettier --config .prettierrc --write

chore: remove unused build command and upgrade eslint dependencies (#29)
  .eslintrc.js
  package.json
  scripts/deploy.js
  scripts/utils/verboseExec.js
  src/components/Header/index.tsx
  src/components/Layout/index.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix, prettier --config .prettierrc --write

chore: update README
  .env.example
  README.md
Due: prettier --config .prettierrc --write

feat: add warning about circular deps
  src/docs/swc-exploration.md
Due: prettier --config .prettierrc --write

fix: use useLayoutEffect to set data-theme
  src/components/Layout/index.tsx
Due: prettier --write, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix

chore: migrate from Jest to Vitest
  .gitignore
  jest.config.js
  package.json
  src/__tests__/components/Header.test.tsx
  src/tests/mocks/server.ts
  src/tests/setup_test.ts
  tools/jest/base/react.js
  tools/jest/catchGlobalErrors.js
  tools/jest/resolvers/react.js
  tools/jest/setup/react/afterEnv.js
  tools/jest/transformers/assets.js
  tools/jest/transformers/babel-options.js
  tools/jest/transformers/babel-react.js
  tools/jest/transformers/cssTransform.js
  tools/jest/transformers/fileTransform.js
  tools/jest/transformers/graphql.js
  tools/jest/transformers/react.js
  tsconfig.json
  types/vitest.d.ts
  vitest.config.ts
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix, prettier --config .prettierrc --write

feat: switch to MDX + contentlayer
  .gitignore
  contentlayer.config.js
  next.config.js
  package.json
  src/blogs/esbuild-exploration.mdx
  src/blogs/swc-exploration.mdx
  src/lib/docs.ts
  src/lib/markdown.ts
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
  src/styles/globals.scss
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix, prettier --config .prettierrc --write

fix: depcruise and vitest for contentlayer
  .dependency-cruiser.js
  .gitignore
  vitest.config.ts
  webpack.depcruise.js
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix

fix: dummy empty object for depcruise when resolving contentlayer
  .dependency-cruiser.js
  package.json
  webpack.depcruise.js
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, prettier --config .prettierrc --write

feat: switch to MDX + contentlayer (#32)
  .dependency-cruiser.js
  .gitignore
  contentlayer.config.js
  next.config.js
  package.json
  src/blogs/esbuild-exploration.mdx
  src/blogs/swc-exploration.mdx
  src/lib/docs.ts
  src/lib/markdown.ts
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
  src/styles/globals.scss
  tsconfig.json
  vitest.config.ts
  webpack.depcruise.js
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix, prettier --config .prettierrc --write

fix: remove double slash on og:url tag
  src/pages/blog/[slug].tsx
Due: prettier --write, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix

feat: use codehiker on esbuild blog
  contentlayer.config.js
  package.json
  src/blogs/esbuild-exploration.mdx
  src/pages/blog/[slug].tsx
  src/styles/blog.page.module.scss
  src/styles/globals.scss
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix, prettier --config .prettierrc --write

feat: tidy up esbuild blog section
  src/blogs/esbuild-exploration.mdx
Due: none

chore: bump next version
  package.json
  yarn.lock
Due: prettier --config .prettierrc --write

feat: add layout transition
  package.json
  src/components/Layout/Layout.tsx
  src/components/Layout/index.ts
  src/components/Theme/index.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
  src/styles/globals.scss
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix, prettier --config .prettierrc --write

feat: add sitemap and robots files
  next-env.d.ts
  next.config.js
  package.json
  src/app/robots.ts
  src/app/sitemap.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix, eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix, prettier --config .prettierrc --write

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  eslint --ignore-pattern '!.*.js' --ignore-pattern '!.*.jsx' --fix: any of: *.{js,jsx}
  eslint --ignore-pattern '!.*.ts' --ignore-pattern '!.*.tsx' --fix: any of: *.{ts,tsx}
  prettier --config .prettierrc --write: any of: *.{json,md,yml}
